<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Intermediate Packages Feed" value="https://www.myget.org/F/b6137352044247fab8c54cecf7132606/api/v2" />
  </packageSources>
</configuration>